html {
    scroll-behavior: smooth;
}

html #root {
    position: relative;
    width: 1600px;
    height: 4350px;
    background: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%);
}

/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 2px solid red;
} */

/* * {
    border: solid 2px black;
} */
/* 
html {
    display: grid; */
    grid-template-columns: 1fr;
    grid-template-rows: 15fr;
    grid-template-areas:
        "header"
        "main"
        "main"
        "footer"
/* } */

/* .nav {
    width: 416px;
    height: 251px;
    left: 80px;
    top: 15px;
    position: absolute;
} */

/* .mainOne {
    width: 1248px;
    height: 754px;
    left: 240px;
    top: 47px;
    position: absolute;
} */

.headWrap {
    width: 1248px;
    height: 754px;
    left: 240px;
    top: 47px;
    position: absolute;
}

.nav {
    display: grid;
    grid-column: 1;
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    line-height: 26px;
    color: #4B5D68;
    /* position: absolute; */
}

.rectangle32 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 240px;
    top: 74px;
    background: #9C69E2;
    border-radius: 20px;
}

.rectangle33 {
    position: absolute;
    width: 20px;
    height: 35px;
    left: 269px;
    top: 59px;
    background: #F063B8;
    border-radius: 20px;
}

.aboutLink {
    position: absolute;
    width: 53px;
    height: 30px;
    left: 410px;
    top: 62px;
    font-family: Avenir, Helvetica;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 26px;
    color: #212353;
}

.helpLink {
    position: absolute;
    width: 35px;
    height: 26px;
    left: 503px;
    top: 64px;
    font-family: Avenir, Helvetica;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #4B5D68;
}

.featuresLink {
    position: absolute;
    width: 63px;
    height: 26px;
    left: 578px;
    top: 64px;
    font-family: Avenir, Helvetica;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #4B5D68;
}

.signupLink {
    position: absolute;
    width: 51px;
    height: 26px;
    left: 681px;
    top: 64px;
    font-family: Avenir, Helvetica;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #4B5D68;
}

.requestDemoLink {
    position: absolute;
    width: 210px;
    height: 60px;
    left: 1150px;
    top: 47px;
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 50px;
}

.headlineOne {
    position: absolute;
    width: 645px;
    height: 184px;
    left: 240px;
    top: 237px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 88px;
    display: flex;
    align-items: center;
    color: #212353;
}

.groupOneP {
    position: absolute;
    width: 380px;
    height: 120px;
    left: 240px;
    top: 471px;
    font-family: Avenir, Helvetica;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    color: #4B5D68;
}

.headLearnMore {
    position: absolute;
    width: 170px;
    height: 60px;
    left: 240px;
    top: 641px;
    background: #9C69E2;
    border-radius: 50px;
    color: white;
}

.imageOne {
    position: absolute;
    width: 885px;
    height: 468px;
    left: 603px;
    top: 333px;
    background: url(image1.png);
}

/************ GROUP TWO ****************/

.groupTwo {
    position: absolute;
    width: 1117px;
    height: 560px;
    left: 240px;
    top: 903.18px;
    background: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
}

.imageTwo {
    position: absolute;
    width: 477px;
    height: 504px;
    left: 251px;
    top: 935px;
    background: url(image2.png);
}

.headlineTwo {
    position: absolute;
    width: 475px;
    height: 100px;
    left: 790px;
    top: 1028.18px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #212353;
}

.groupTwoP {
    position: absolute;
    width: 474px;
    height: 170px;
    left: 790px;
    top: 1168.18px;
    font-family: Avenir, Helvetica;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    color: #4B5D68;
}

/********** GROUP THREE ****************/

.groupThree {
    position: absolute;
    width: 1137.28px;
    height: 1026px;
    left: 220px;
    top: 1613px;
}

.headlineFeatures {
    position: absolute;
    width: 405px;
    height: 52px;
    left: 596.29px;
    top: 1613px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 53px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #212353;
}

.groupThreeP {
    position: absolute;
    width: 584px;
    height: 58px;
    left: 507.29px;
    top: 1715px;
    font-family: Avenir, Helvetica;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #4B5D68;
}

/************** SEARCH DATA *****************/

.rectangle39 {
    position: absolute;
    width: 442px;
    height: 358px;
    left: 328.29px;
    top: 1873px;
    background: #68C9BA;
    opacity: 0.1;
    border-radius: 50px;
}

.divOne {
    position: absolute;
    width: 200px;
    height: 50px;
    left: 500.29px;
    top: 1922px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    display: flex;
    align-items: center;
    color: #212353;
}

.searchData {
    position: absolute;
    width: 200px;
    height: 50px;
    left: 500.29px;
    top: 1922px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    display: flex;
    align-items: center;
    color: #212353;

}

.imageThree {
    position: absolute;
    width: 232px;
    height: 211px;
    left: 239px;
    top: 1946px;
    background: url(image3.png);
}

.groupThreeDivOne {
    position: absolute;
    width: 220px;
    height: 160px;
    left: 500.29px;
    top: 1992px;
    font-family: Avenir, Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #4B5D68; 
}

.searchDataButton {
    position: absolute;
    width: 87px;
    height: 26px;
    left: 500.29px;
    top: 2172px;
    font-family: Avenir, Helvetica;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: center;
    letter-spacing: 0.005em;
    color: #212353;
}

/********** 24 HOUR ACCESS ***********/

.groupFour {
    position: absolute;
    width: 544.28px;
    height: 394.56px;
    left: 813px;
    top: 1873px;
}

.rectangle40 {
    position: absolute;
    width: 442px;
    height: 358px;
    left: 915.28px;
    top: 1873px;
    background: #9C69E2;
    opacity: 0.1;
    border-radius: 20px;
}

.imageFour {
    position: absolute;
    width: 241px;
    height: 185px;
    left: 813px;
    top: 1944px;
    background: url(image4.png);
}

.hoursAccess {
    position: absolute;
    width: 200px;
    height: 50px;
    left: 1087.28px;
    top: 1922px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    display: flex;
    align-items: center;
    color: #212353;
}

.groupFourP {
    position: absolute;
    width: 220px;
    height: 160px;
    left: 1087.28px;
    top: 1992px;
    font-family: Avenir, Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #4B5D68;
}

.hoursAccessButton {
    position: absolute;
    width: 87px;
    height: 26px;
    left: 1087.28px;
    top: 2172px;
    font-family: Avenir, Helvetica;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: center;
    letter-spacing: 0.005em;
    color: #212353;
}

/************* PRINT OUT **************/

.groupFive {
    position: absolute;
    width: 550.28px;
    height: 358px;
    left: 220px;
    top: 2281px;
}

.rectangle41 {
    position: absolute;
    width: 442px;
    height: 358px;
    left: 328.29px;
    top: 2281px;
    background: #F063B8;
    opacity: 0.1;
    border-radius: 50px;
}

.imageFive {
    position: absolute;
    width: 245px;
    height: 181px;
    left: 220px;
    top: 2404px;
    background: url(image5.png);
}

.headlinePrint {
    position: absolute;
    width: 200px;
    height: 50px;
    left: 500.29px;
    top: 2330px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    display: flex;
    align-items: center;
    color: #212353;
}

.groupFiveP {
    position: absolute;
    width: 220px;
    height: 160px;
    left: 500.29px;
    top: 2400px;
    font-family: Avenir, Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #4B5D68;
}

.groupFiveButton {
    position: absolute;
    width: 87px;
    height: 26px;
    left: 500.29px;
    top: 2580px;
    font-family: Avenir, Helvetica;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: center;
    letter-spacing: 0.005em;
    color: #212353;
}

/************ SECURITY CODE ***********/

.groupSix {
    position: absolute;
    width: 539.28px;
    height: 364px;
    left: 818px;
    top: 2275px;
}

.rectangle42 {
    position: absolute;
    width: 442px;
    height: 358px;
    left: 915.28px;
    top: 2281px;
    background: #2D9CDB;
    opacity: 0.1;
    border-radius: 20px;
}

.imageSix {
    position: absolute;
    width: 230px;
    height: 201px;
    left: 818px;
    top: 2367px;
    background: url(image6.png);
}

.headlineSecurity {
    position: absolute;
    width: 200px;
    height: 50px;
    left: 1087.28px;
    top: 2330px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    display: flex;
    align-items: center;
    color: #212353;
}

.groupSixP {
    position: absolute;
    width: 220px;
    height: 160px;
    left: 1087.28px;
    top: 2400px;
    font-family: Avenir, Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #4B5D68;
}

.groupSixButton {
    position: absolute;
    width: 87px;
    height: 26px;
    left: 1087.28px;
    top: 2580px;
    font-family: Avenir, Helvetica;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: center;
    letter-spacing: 0.005em;
    color: #212353;
}

/************ TESTIMONIALS ******************/

.rectangle43 {
    position: absolute;
    width: 1118px;
    height: 709px;
    left: 242px;
    top: 2789px;
    background: #9C69E2;
    border-radius: 50px;
}

.testimonials {
    position: absolute;
    width: 405px;
    height: 52px;
    left: 335px;
    top: 2898px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.rectangle44 {
    position: absolute;
    width: 645px;
    height: 330px;
    left: 335px;
    top: 3038px;
    background: #FFFFFF;
    box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);
    border-radius: 20px;
}

.imageSeven {
    position: absolute;
    width: 90px;
    height: 90px;
    left: 405px;
    top: 3098px;
    background: url(.jpg), #F063B8;
    border-radius: 50px;
}

.headlineFang {
    position: absolute;
    width: 170px;
    height: 29px;
    left: 525px;
    top: 3118px;
    font-family: Avenir, Helvetica;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 29px;
    display: flex;
    align-items: center;
    letter-spacing: 0.005em;
    color: #212353;
}

.fangEmail {
    position: absolute;
    width: 101px;
    height: 22px;
    left: 525px;
    top: 3167px;
    font-family: Avenir, Helvetica;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    text-decoration: none;
    color: #9C69E2;
}

.groupSevenP {
    position: absolute;
    width: 385px;
    height: 130px;
    left: 525px;
    top: 3188px;
    font-family: Avenir, Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #4B5D68;
}

.rectangle45 {
    position: absolute;
    width: 400px;
    height: 330px;
    left: 1000px;
    top: 3038px;
    background: #FFFFFF;
    box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.1);
    border-radius: 20px;
}

.rectangle45OP {
    position: absolute;
    width: 400px;
    height: 330px;
    left: 1000px;
    top: 3038px;
    background: linear-gradient(270deg, #9C69E2 9.75%, rgba(255, 255, 255, 0) 100%);
    border: 1px solid #9C69E2;
    box-sizing: border-box;
    border-radius: 20px;
}

.imageEight {
    position: absolute;
    width: 90px;
    height: 90px;
    left: 1040px;
    top: 3093px;
    background: url(.jpg), #F063B8;
    border-radius: 50px;
}

.headlineDoe {
    position: absolute;
    width: 170px;
    height: 29px;
    left: 1160px;
    top: 3113px;
    font-family: Avenir, Helvetica;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 29px;
    display: flex;
    align-items: center;
    letter-spacing: 0.005em;
    color: #212353;
}

.doeUX {
    position: absolute;
    width: 82px;
    height: 22px;
    left: 1160px;
    top: 3162px;
    font-family: Avenir, Helvetica;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    text-decoration: none;
    color: #9C69E2;
}

.groupEightP {
    position: absolute;
    width: 180px;
    height: 130px;
    left: 1160px;
    top: 3183px;
    font-family: Avenir, Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #4B5D68;
    opacity: 0.6;
    overflow: hidden;
}

/**************** FOOTER ****************/

.rectangleLine {
    position: absolute;
    width: 1600px;
    height: 2px;
    left: 0px;
    top: 3648px;
    background: #9C69E2;
    opacity: 0.2; 
}

.headlineFoot {
    position: absolute;
    width: 405px;
    height: 52px;
    left: 240px;
    top: 3750px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #212353;
}

.groupNineP {
    position: absolute;
    width: 584px;
    height: 29px;
    left: 240px;
    top: 3822px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    color: #4B5D68;
}

.rectangle47 {
    position: absolute;
    width: 170px;
    height: 60px;
    left: 947px;
    top: 3771px;
    background: #F063B8;
    border-radius: 50px;
    color: white;
}

.rectangle48 {
    position: absolute;
    width: 210px;
    height: 60px;
    left: 1147px;
    top: 3771px;
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 50px;
}

.groupTen {
    position: absolute;
    width: 1085px;
    height: 311.2px;
    left: 240px;
    top: 3949.8px;
}

.rectangle49 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 240px;
    top: 4016px;
    background: #9C69E2;
    border-radius: 20px;
}

.rectangle50 {
    position: absolute;
    width: 20px;
    height: 35px;
    left: 269px;
    top: 4001px;
    background: #F063B8;
    border-radius: 20px;
}

.headlineLogo {
    position: absolute;
    width: 153px;
    height: 30px;
    left: 309px;
    top: 4004px;
    font-family: Avenir, Helvetica;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 32px;
    color: #212353;
}

.groupTenP1 {
    position: absolute;
    width: 335px;
    height: 65px;
    left: 240px;
    top: 4101px;
    font-family: Avenir, Helvetica;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 29px;
    letter-spacing: 0.01em;
    color: #212353;
}

.groupTenP2 {
    position: absolute;
    width: 335px;
    height: 60px;
    left: 240px;
    top: 4176px;
    font-family: Avenir, Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 29px;
    letter-spacing: 0.01em;
    color: #212353;
}

.footAbout {
    position: absolute;
    width: 51.75px;
    height: 30px;
    left: 715px;
    top: 4011px;
    font-family: Avenir, Helvetica;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 26px;
    text-decoration: none;
    color: #212353;
}

.footLinks1 {
    position: absolute;
    width: 166px;
    height: 160px;
    left: 715px;
    top: 4071px;
    font-family: Avenir, Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    text-decoration: none;
    color: #212353;
}

.footLinks2 {
    position: absolute;
    width: 166px;
    height: 160px;
    left: 715px;
    top: 4101px;
    font-family: Avenir, Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    text-decoration: none;
    color: #212353;
}

.footLinks3 {
    position: absolute;
    width: 166px;
    height: 160px;
    left: 715px;
    top: 4131px;
    font-family: Avenir, Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    text-decoration: none;
    color: #212353;
}

.footLinks4 {
    position: absolute;
    width: 166px;
    height: 160px;
    left: 715px;
    top: 4161px;
    font-family: Avenir, Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    text-decoration: none;
    color: #212353;
}

.footHelp {
    position: absolute;
    width: 51.75px;
    height: 30px;
    left: 931px;
    top: 4011px;
    font-family: Avenir, Helvetica;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 26px;
    text-decoration: none;
    color: #212353;
}

.footLinks5 {
    position: absolute;
    width: 166px;
    height: 190px;
    left: 931px;
    top: 4071px;
    font-family: Avenir, Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    text-decoration: none;
    color: #212353;
}

.footLinks6 {
    position: absolute;
    width: 166px;
    height: 190px;
    left: 931px;
    top: 4101px;
    font-family: Avenir, Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    text-decoration: none;
    color: #212353;
}

.footLinks7 {
    position: absolute;
    width: 166px;
    height: 190px;
    left: 931px;
    top: 4131px;
    font-family: Avenir, Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    text-decoration: none;
    color: #212353;
}

.footLinks8 {
    position: absolute;
    width: 166px;
    height: 190px;
    left: 931px;
    top: 4161px;
    font-family: Avenir, Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    text-decoration: none;
    color: #212353;
}

.footLinks9 {
    position: absolute;
    width: 166px;
    height: 190px;
    left: 931px;
    top: 4191px;
    font-family: Avenir, Hevetica;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    text-decoration: none;
    color: #212353;
}

.footSocial {
    position: absolute;
    width: 170px;
    height: 30px;
    left: 1147px;
    top: 4011px;
    font-family: Avenir, Helvetica;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 26px;
    color: #212353;
}

.eclipse1 {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 1147px;
    top: 4071px;
    background: #212353;
    opacity: 0.1;
    border-radius: 50px;
}

.eclipse2 {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 1211px;
    top: 4071px;
    background: #212353;
    opacity: 0.1;
    border-radius: 50px;
}

.eclipse3 {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 1275px;
    top: 4071px;
    background: #212353;
    opacity: 0.1;
    border-radius: 50px;
}