html {
    scroll-behavior: smooth;
}

/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 2px solid red;
} */

* {
    border: solid 2px black;
}

html {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 15fr;
    grid-template-areas:
        "header header"
        "main sidebar"
        "main sidebar"
        "footer footer"
}